.navbar-brand {
  height: initial;
}

.dropdown-menu>li>a {
  white-space: initial;
}

.table>thead>tr>th,
.table>tbody>tr>th,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>tbody>tr>td,
.table>tfoot>tr>td {
  vertical-align: middle;
}

ul, ol {
  margin-bottom: 4px;
}