.navbar-brand {
  height: initial;
}

.dropdown-menu>li>a {
  white-space: initial;
}

.table>thead>tr>th,
.table>tbody>tr>th,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>tbody>tr>td,
.table>tfoot>tr>td {
  vertical-align: middle;
  max-width: 200px;
}

table.dataTable thead th,
table.dataTable thead td,
table.dataTable tbody td,
table.dataTable tbody th {
  padding: 8px;
}

table.uib-daypicker thead th,
table.uib-daypicker thead td,
table.uib-daypicker tbody td,
table.uib-daypicker tbody th {
  padding: 0px;
}

ul, ol {
  margin-bottom: 4px;
}

@media (min-width: 768px) {
  .navbar-form {
    padding-left: 0;
    padding-right: 0;
  }
}
.nav.progress {
   min-width:250px;
   margin-top:15px;
}