.navbar-brand {
  height: initial;
}

.dropdown-menu>li>a {
  white-space: initial;
}

.table>thead>tr>th,
.table>tbody>tr>th,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>tbody>tr>td,
.table>tfoot>tr>td {
  vertical-align: middle;
}

.table-sortered>thead>tr>th {
  position: relative;
}

.table-sortered>thead>tr>th.sortable:after {
  position: absolute;
  right: 0;
  font-family: 'Glyphicons Halflings';
  font-size: 12px;
  content: "\e150";
}

.table-sortered>thead>tr>th.lower:after {
  content: "\e155";
}

.table-sortered>thead>tr>th.higher:after {
  content: "\e156";
}

ul, ol {
  margin-bottom: 4px;
}