{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Mealing</title>

    <link rel="stylesheet" href="https://unpkg.com/react-md@1.2.11/dist/react-md.light_green-amber.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons|Roboto:400,500,700">

  </head>

  <body id="page-top">

    <div id="content"></div>

    <script src="{% static 'assets/js/bundle.js' %}"></script>

  </body>

</html>